@page
@model WebCRM.Pages.Auth.deniedModel
@{
    ViewData["Title"] = "Denegado";
    Layout = "_ErrorLayout";
}

<h1 class="title">Error</h1>
<h2>Lo sentimos, no tiene permisos.</h2>
<h4>Ha ocurrido un error o no tiene permisos de acceso.</h4>
