@page
@model WebCRM.Pages.TestModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test</title>
</head>
<body>
    <form method="post" >
        <button type="submit">Ok</button>
    </form>
</body>
</html>
